$colorErrorText: red;
$colorErrorBack: rgb(255, 185, 185);
$colorSuccessText: darkgreen;
$colorSuccessBack: rgb(142, 255, 142);

.error {
  color: $colorErrorText;
  background: $colorErrorBack;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.success {
  color: $colorSuccessText;
  background: $colorSuccessBack;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1.5rem;
}
